In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import networkx as nx
import torch
import torch.nn as nn
import torch.nn.functional as F

In [3]:
df = pd.read_csv('Dataset/credit_card_transactions-ibm_v2.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24386900 entries, 0 to 24386899
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   User            int64
 1   Card            int64
 2   Year            int64
 3   Month           int64
 4   Day             int64
 5   Time            object
 6   Amount          object
 7   Use Chip        object
 8   Merchant Name   int64
 9   Merchant City   object
 10  Merchant State  object
 11  Zip             float64
 12  MCC             int64
 13  Errors?         object
 14  Is Fraud?       object
dtypes: float64(1), int64(7), object(7)
memory usage: 2.7+ GB

In [8]:
for i in df.columns:
    counts = df[i].value_counts()
    
    print(f"Value counts for column {i} : \n {counts}\n")

Value counts for column User :
 User
486     82355
396     80749
332     70010
262     68089
1249    65644
        ...
457        25
231        21
1367       20
1767       16
1817       15
Name: count, Length: 2000, dtype: int64

Value counts for column Card :
 Card
0    8696411
1    6493597
2    4305594
3    2790785
4    1309120
5     563097
6     176729
7      46383
8       5184
Name: count, dtype: int64

Value counts for column Year :
 Year
2019    1723938
2017    1723360
2018    1721615
2016    1708924
2015    1701371
2014    1672343
2013    1650917
2012    1610829
2011    1570551
2010    1491225
2009    1355434
2008    1223460
2007    1064483
2006     908793
2005     746653
2004     597003
2003     466408
2002     350732
2020     336500
2001     257998
2000     177729
1999     118250
1998      78345
1997      49753
1996      29945
1995      20928
1994      14316
1993       8378
1992       5134
1991       1585
Name: count, dtype: int64

Value counts for column Month :
 Month
1     2142220
12    2104435
10    2075188
8     2070407
7     2051785
11    2026832
5     2023412
9     2006307
3     2002867
6     1981230
2     1960411
4     1941806
Name: count, dtype: int64

Value counts for column Day :
 Day
21    813404
25    813189
28    811085
1     810649
7     810589
14    809945
18    805571
11    805407
4     805366
15    802795
22    801672
13    801419
24    801404
8     800735
17    800716
20    799693
6     799532
10    799448
27    799244
3     799048
19    797787
16    797447
9     797145
23    797101
5     796347
26    796155
2     795655
12    794908
29    729801
30    725557
31    468086
Name: count, dtype: int64

Value counts for column Time :
 Time
12:31    30604
12:49    30556
12:36    30515
12:52    30501
13:06    30417
         ...
04:15     2735
04:25     2725
04:08     2717
04:14     2716
04:03     2696
Name: count, Length: 1440, dtype: int64

Value counts for column Amount :
 Amount
$80.00      250984
$100.00     242198
$60.00      193620
$120.00     152881
$40.00      106528
             ...
$1914.41         1
$1966.81         1
$1653.09         1
$1960.40         1
$584.63          1
Name: count, Length: 98953, dtype: int64

Value counts for column Use Chip :
 Use Chip
Swipe Transaction     15386082
Chip Transaction       6287598
Online Transaction     2713220
Name: count, dtype: int64

Value counts for column Merchant Name :
 Merchant Name
 1799189980464955940    1130230
-4282466774399734331    1129061
 2027553650310142703    1028485
-2088492411650162548     720615
-1288082279022882052     687779
                         ...
-7291739097927076617          1
 1839782328109824160          1
-3479094112208305958          1
-3791948590162093461          1
 1283531942490434675          1
Name: count, Length: 100343, dtype: int64

Value counts for column Merchant City :
 Merchant City
ONLINE         2720821
Houston         246036
Los Angeles     180496
Miami           178653
Brooklyn        155425
                ...
Haxtun               1
Schenevus            1
Pilot Knob           1
Accoville            1
Deer                 1
Name: count, Length: 13429, dtype: int64

Value counts for column Merchant State :
 Merchant State
CA                                  2591830
TX                                  1793298
FL                                  1458699
NY                                  1446864
OH                                   895970
                                     ...
Democratic Republic of the Congo          2
Tonga                                     2
Kiribati                                  1
Paraguay                                  1
Botswana                                  1
Name: count, Length: 223, dtype: int64

Value counts for column Zip :
 Zip
98516.0    55679
43830.0    48815
55024.0    44571
95076.0    43656
94606.0    43512
           ...
17936.0        1
15483.0        1
39060.0        1
4760.0         1
48652.0        1
Name: count, Length: 27321, dtype: int64

Value counts for column MCC :
 MCC
5411    2860738
5499    2680609
5541    2638982
5812    1797920
5912    1407636
         ...
3075        666
5722        663
4411        634
3144        632
5733        496
Name: count, Length: 109, dtype: int64

Value counts for column Errors? :
 Errors?
Insufficient Balance                                   242783
Bad PIN                                                 58918
Technical Glitch                                        48157
Bad Card Number                                         13321
Bad CVV                                                 10740
Bad Expiration                                          10716
Bad Zipcode                                              2079
Bad PIN,Insufficient Balance                              581
Insufficient Balance,Technical Glitch                     457
Bad PIN,Technical Glitch                                  128
Bad Card Number,Insufficient Balance                      122
Bad CVV,Insufficient Balance                               89
Bad Expiration,Insufficient Balance                        78
Bad Card Number,Bad CVV                                    60
Bad Card Number,Bad Expiration                             54
Bad Expiration,Bad CVV                                     47
Bad Expiration,Technical Glitch                            32
Bad Card Number,Technical Glitch                           25
Bad CVV,Technical Glitch                                   21
Bad Zipcode,Insufficient Balance                           13
Bad Zipcode,Technical Glitch                                7
Bad Card Number,Bad Expiration,Insufficient Balance         2
Bad Card Number,Bad Expiration,Technical Glitch             1
Name: count, dtype: int64

Value counts for column Is Fraud? :
 Is Fraud?
No     24357143
Yes       29757
Name: count, dtype: int64

In [9]:
df.isnull().sum()

User                     0
Card                     0
Year                     0
Month                    0
Day                      0
Time                     0
Amount                   0
Use Chip                 0
Merchant Name            0
Merchant City            0
Merchant State     2720821
Zip                2878135
MCC                      0
Errors?           23998469
Is Fraud?                0
dtype: int64

### Data Preprocessing

In [10]:
#assuming that each customer has only one credit card
df['Card_id'] = df['User'].astype(str) + "" + df['Card'].astype(str)

In [13]:
#Clean Amount, remove the currecncy sign and convert the datatype from string to  float
df['Amount'] = df['Amount'].str.replace("$","").astype(float)

In [15]:
#Convert time to hour and minute because it can't be int

df["Hour"] = df['Time'].str[0:2]
df["Minutes"] = df["Time"].str[3:5]

In [16]:
#Fill missing errors with no error because no error is recorded 

df["Errors?"] = df["Errors?"].fillna("No error")

In [17]:
#Drop unwanted columns- Duplicate columns and columns with missing values

df = df.drop(["User","Card","Merchant State","Zip"], axis =1)

In [18]:
#Convert strings to numeric

df["Is Fraud?"] =df["Is Fraud?"].apply(lambda x:1 if x =='Yes' else 0)

In [19]:
le = LabelEncoder()
df['Merchant City']=le.fit_transform(df['Merchant City'])
df['Use Chip'] = le.fit